
  /* Здесь будут все стили для устройств с viewport больше 1400 пикселей. */

 /* Стили для устройств, у которых ширина viewport меньше 1400 пикселей, но больше 990 пикселей. Эти стили будут использованы для планшетов и ноутбуков с низким разрешением */


  
  @media (max-width: 770px) {
    body{
      font-size: 16px;
    }
    .conteiner{
      width: 100%;
    }
    .header__nav{
      display: none;
     }
     
    .img{
      height: auto;
      width: 100%;
   }
      .disk{
          display: block;
      }
    .mint{ display: block;}
    .ghost
    {width: 100%;}
    .result{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .heading_sale{
      font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    }
    .Heading{
      font-size: 36px;
    }
    .Heading_result{
      font-size: 26px;

    }
    .questions_form{
      display: block;
    }
    .ahiv{
      display: block;
    }
    .road{
      display: flex;
      flex-direction: column;
    }
    .img_nft{
      height: auto;
      width: 100%;
     }
     .see_roadmap{
       display: flex;
       flex-direction: column;
     }
     .bio{
       min-width: 100%;
     }
  }
  
  @media (max-width: 450px) {
    .conteiner{
      width: 100%;
    }
    .header__nav{
     display: none;
    }
    .banner_roadmap{
      display: flex;
      flex-direction: column;
    }
    .banner_roadmap h3{
     font-family: Hauora;
     font-size: 13px;
     font-style: normal;
     font-weight: 700;
     line-height: 21px;
     letter-spacing: 0em;
     text-align: center;  
     margin-left: 0%;
    }
   .roadmap_bat{
     margin-top: 5px;
   width: 133px;
   height: 42px;
   border: 1px solid rgba(255, 255, 255, 0.11);
   border-radius: 11px;
   margin-right: 0px;
   }
   h1{
     font-family: Montserrat;
   font-size: 42px;
   font-style: normal;
   font-weight: 700;
   line-height: 43px;
   letter-spacing: 0em;
   text-align: left;
   }
   .bio p{
     font-family: Montserrat;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 31px;
   letter-spacing: 0em;
   text-align: left;
   }
   
   .button_bio p{
     font-family: Hauora;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   text-align: left;
   }
   .content_desk{
     font-family: Montserrat;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left;
   }
   .heading_sale{
     font-family: Montserrat;
   font-size: 22px;
   font-style: normal;
   font-weight: 700;
   text-align: left;
   }
   .Heading_result h2{
     font-size: 36px;
   }
   .disk{
   display: block;}
   .mint{
   display: block;
     }
     .result{
       display: flex;
        flex-direction: column;}
       .ghost
       {width: 100%;}
       .questions_form{
         display: block;
       }
       .ahiv{
         display: block;
       }
   
   .road{
     display: flex;
     flex-direction: column;
   }
   .result{
    display:flex;
    flex-direction: column;
    align-items: center;
}
   footer{
     display: flex;
     flex-direction: column;
   }
   .img_nft{
    height: auto;
    width: 100%;
   }
   .see_roadmap{
     display: flex;
     flex-direction: column;
   }
   .bio{
     min-width: 100%;
   }
  }
