@font-face
  {
  font-family: Hauora;
  src: url("../fonts/Hauora-Regular.ttf");
  }
  
body{
    background-color: black;
    color: #fff;
    font-family: 'Montserrat', 'Hauora';
    font-size: 22px;

}

h2,h3{
margin: 0%;}
h1{
    font-family: Montserrat;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.header__menu li>a{
    text-decoration: none;
    font-family: 'Hauora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #636363;;
}
.logo{
    margin-left: auto;
}
.content-wrapper{
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}
.step_s{
    font-family: 'Hauora';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
}
.conteiner{       
    max-width: 1073px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;}




.banner_roadmap{
    align-items: center;
    background-color:#CD3939;
    display: flex;
    justify-content: space-between;
border-radius: 14px;
height: 120px;
margin-top: 30px;
}
.banner_roadmap h3{
    margin-left: 30px;
font-family: Alegreya;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}

.bio{
   
    min-width: 540px;

}
.disk{
    margin-top: 50px;
   display: flex;
   background-image: url(../img/back.png);
   background-repeat: no-repeat;
   
   background-size: contain;
   background-position-x:410px;
}


.hand{
    width: 80%;
    background-image: url(../img/telegram-cloud-photo-size-2-5341787041379236136-y\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100px;
}
.button_bio{
  
display:flex;
align-items: center;
background: #CD3939;
border: 1px solid rgba(255, 255, 255, 0.11);
box-sizing: border-box;
border-radius: 11px;
width: 295px;
height: 57px;
color: #fff;
text-decoration: none;
}
.button_bio p{
    margin-left: 15%;
    font-family: Hauora;
font-size: 14px;
font-style: normal;
font-weight: 700;


}
.Sale{
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: contain;
   background-position: right;
}
.mint{
    display: flex;
    margin-top: 155яpx;
background: linear-gradient(360deg, #171717 -2.58%, #010101 91.03%);
border-radius: 12px;
}
.heading_sale{
    font-family: Montserrat;
font-size: 56px;
font-style: normal;
font-weight: 700;
text-align: left;

}
.mint p{
    font-family: Hauora;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.social{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.social_item{
    margin-left: 17px;
}
.mint_ofer{
    display: flex;
}

.mint_desk li,ul{
    list-style-type: none;
    padding: 0%;
}
.mint_button{
    margin-left:60px ;
}
.mint_but_1{
    display: block;
    width: 118px;
height: 47px;
    color: #FD5252;
    text-align: center;
background: rgba(205, 57, 57, 0.1);
border-radius: 42px;
}
.mint_but_2{
    display: block;
    margin-top: 25px;
    background: #CE0101;
border: 1.07496px solid rgba(255, 255, 255, 0.11);
box-sizing: border-box;
border-radius: 11.8246px;
width: 195px;
height: 61px;
color:#fff
}
.ahiv{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.planet_desk{
    font-family: Hauora;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 32px;
text-align: center;
opacity: 0.64;

}
.panel_desk{
    font-family: Hauora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
text-align: center;
}
.people_desk{
    font-family: Hauora;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 32px;
text-align: center;
opacity: 0.64;


}
.Heading { 
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    
}
.content_horor{
    margin-top: 51px;
}
.content_horor h3{
    text-align: center;
}
.slider{
    margin-top: 40px;
}
.slider_item{
    align-items: center;
    margin-left: 40px;
background-color: #171717;
border-radius: 2%;}
.slider_desk{
    display: flex; 
}
.content_desk{
 font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.slider_arrow{
   
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.slick-arrow.slick-prev{  font-size: 0px;
    background-color: #CD3939;
    border-radius: 50%;
  
width: 50px;
height: 50px;

background-image: url( ../img/qw.svg); 
background-repeat: no-repeat;
background-position: center;
}

.slick-arrow.slick-next{
    font-size: 0px;
    background-color: #CD3939;
    border-radius: 50%;
   z-index: 10;
width: 50px;
height: 50px;
background-image: url( ../img/Gh.svg)  ;
background-repeat: no-repeat;
background-position: center;
margin-left: 20px;}

.result{
    display: flex;
    justify-content: space-between;
    background-color: #CD3939;
    border-radius: 25px;
}
.statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.resukt_desk{
    font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.records{
    display: flex;
}
.bold_numbers{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Hauora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    
}
.Heading_result{
    margin-left: 44px;
    margin-top:45px ;
    padding-bottom: 20px;
}
.Heading_result h2{
    font-family: Montserrat;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 117.5%;
text-align: left;


line-height: 117.5%;
}
.claim_nft{
    margin: 40px 36px 31px;
}
.claim_desk{
    margin: 46px 0px 46px 20px;
}


.fusion{
    margin-top: 25px;
}

.see_roadmap{
    display: flex;
    margin-top: 100px;
}
.see_roadmap h3 {
    font-size: 48px;
}
#roadmap_bat{
width: 173px;
height: 54px;
background: #CD3939;
border: 1px solid rgba(255, 255, 255, 0.11);
border-radius: 11px;
color: #fff;
}
.submit_desk{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 40px;
text-align: left;
opacity: 0.64;


}


.prev{
    max-width: 500px;
    margin-left: 100px;
}
.questions{
    text-align: center;
    margin-top: 100px;
}
.questions_form{
    display: flex;
    justify-content: space-around;
}
.twitter{
    margin-top: 100px;
}
.FAQ{
    text-align: left;
    margin-top: 55px;
}
#heading_faq{
    font-family: Montserrat;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 121px;
letter-spacing: 0em;
    text-align: center;
}
.answer_faq
{
    margin-top: 17px;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label ~ div {
    display: none; 
}
/* вид текста label */
.hide + label,
.hide:checked + label {
    padding: 0;
    color:#fff;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}
.roadmap_bat{
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #CD3939;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 11px;
    width: 167px;
height: 57px;
    margin-right: 50px;
    
    text-decoration: none;
}
.roadmap_bat p{
    margin: auto;
    font-family: 'Hauora';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
}
.step{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    
}
.col0{
    display: flex;  
    flex-direction: column;
}
.step_item{
    margin: 25px;
}
#heading_roadmap{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 117.5%;
padding-top: 30px;}
.road{
    
    display: flex;
    
}
.statistics{
    display: flex;
}
.bg_red{
    text-align: center;
    
    margin-top: 65px;
    border-radius: 25px;
    background-color: #CD3939;
}
footer{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 2fr;
}
#generate{
    font-family: Hauora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.social_footer{
    display: flex;
    width: 106px;
    justify-content: space-around;}
.zag_s{
    margin-bottom: 16px;
    font-family: 'Hauora';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
}